body {
    color: #302e2f;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
}

:root {
    --white-color: #ffffff;
    --red-color: #941734;
}

button {
    outline: none;
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: #302e2f;
    cursor: pointer;
}

.a-btn {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 25px 26px 28px 41px;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 267px;
    letter-spacing: 17px;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    line-height: 85px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 53px;
    line-height: 85px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/*header*/

header {
    display: flex;
    padding-top: 175px;
}

.header__left-part--pattern {
    position: absolute;
    background-image: url(../img/Pattern.png);
    width: 255px;
    height: 900px;
    box-sizing: unset;
    background-repeat: repeat-y;
    margin-top: 138px;
    margin-left: 7px;
    z-index: 100;
}

.header__right-part--p{
    max-width: 1247px;
    line-height: 40px;
    margin-block: 0;
}

.header__left-part {
    margin-right: 100px;
}

.header__right-part--a {
    display: flex;
    align-items: center;
}

.header__right-part--h2 {
    font-size: 70px;
    margin-bottom: 60px;
    margin-top: -5px;
    letter-spacing: 3.2px;
}

.header__right-part--li {
    cursor: pointer;
    margin-left: 8px;
    letter-spacing: 1px;
}

.header__right-part--li:first-child {
    margin-top: 41px;
    margin-bottom: -15px;
}

.header__left-part--rectangle {
    border: 3px solid var(--red-color);
    min-width: 332px;
    min-height: 633px;
    border-left: transparent;
}

.header__right-part--svg {
    margin-right: 23px;
}

.header__right-part--a-p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.header__right-part--a-p:first-child {
    margin-bottom: 10px;
}

.header__div--wrapper-advantages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
}

.header__div--advantages {
    font-family: 'Oswald', sans-serif;
    color: var(--red-color);
}

.header__div--advantages-h2 {
    font-size: 68px;
    margin-top: 46px;
    letter-spacing: 3px;
}

.header__a-btn {
    font-size: 24px;
    padding: 19px 25px 17px 36px;
    border: 2px solid #cccccc;
    border-left: 10px solid #cccccc;
    margin-bottom: 82px;
    color: #302e2f;
}

.header__div--advantages-p {
    max-width: 62%;
    color: #302e2f;
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 38px;
}

.header__div--advantages:first-child {
    margin-right: 109px;
}

.header__div--advantages:nth-child(2) {
    margin-right: 32px;
}

/*progect-info-1*/

.progect-info {
    position: relative;
    background: linear-gradient(0deg, rgba(164, 164, 164, 1) 0%, rgba(214, 214, 214, 1) 5%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 50.4%, #656464 50.5%, #656464 51%, rgba(255, 255, 255, 1) 50.7%, rgba(255, 255, 255, 1) 85%, rgba(253, 253, 253, 1) 90%, rgba(214, 214, 214, 1) 95%, rgba(164, 164, 164, 1) 100%);
}

.progect-info-1-wrapper {
    background-color: var(--white-color);
}

.progect-info__line {
    color: #969596;
    width: 100%;
    height: 2px;
}

.progect-info__h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 77px;
    margin-bottom: 0px;
    background-color: var(--white-color);
}

.progect-info-1__h1 {
    color: #f08e0f;
    padding-right: 55px;
    margin-left: 425px;
    background-color: var(--white-color);
}

.progect-info__p {
    font-size: 21px;
}

.progect-info__div {
    display: flex;
    align-items: center;
    height: 500px;
}

.progect-info--img-pattern {
    position: absolute;
    background-image: url(../img/Pattern.png);
    width: 355px;
    height: 130px;
    bottom: 10px;
    right: 0;
}

/*detail-info*/

.detail-info {
    display: flex;
    justify-content: space-between;
}

.delail-info--margin {
    margin-left: 425px;
    margin-bottom: 125px;
}

.detail-info-p-margin {
    max-width: 556px;
    margin-bottom: 75px;
}

.detail-info__left-part__h3 {
    margin-top: 131px;
}

.detail-info__right-part__h3 {
    position: relative;
    margin: 94px 0 15px 103px;
}

.detail-info__right-part__h3::after {
    content: "";
    position: absolute;
    background-color: #969596;
    width: 24%;
    height: 2px;
    top: 50%;
    margin-left: 20px;
}

.detail-info__h2 {
    font-size: 69px;
    max-width: 305px;
    line-height: 91px;
    margin-top: 206px;
    letter-spacing: 3.2px;
    margin-bottom: 74px;
}

.detail-info__h2::first-line {
    color: var(--red-color);
}

.detail-info__left-part--img {
    width: 600px;
}

.detail-info__a-rating {
    border: 2px solid var(--red-color);
    border-left: 10px solid var(--red-color);
}

.detail-info__a-write-to {
    border: 2px solid #f08e0f;
    border-left: 10px solid #f08e0f;
    margin-bottom: 91px;
    margin-left: 111px;
    padding: 20px 61px 22px 16px;
}

.detail-info__svg {
    width: 35px;
    margin: 0 5px 0 29px;
}

.detail-info__h3 {
    color: #302e2f;
    font-size: 59px;
    letter-spacing: 3px;
}

.detail-info__right-part {
    width: 40%;
}

.detail-info__right-part--p {
    max-width: 360px;
}

.detail-info__right-part--margin {
    margin-left: 103px;
}

.detail-info__h3-span {
    color: var(--red-color);
}

.detail-info__div-rectangle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 558px;
    background-color: transparent;
    border: 2px solid #213a72;
    margin-top: 212px;
    margin-bottom: 131px;
}

.detail-info--pattern {
    position: relative;
    background-image: url(../img/Pattern.png);
    width: 600px;
    height: 300px;
    background-repeat: repeat-x;
    margin-top: -160px;
}

.detail-info__a-letter {
    position: relative;
    padding: 16px 49px 23px 40px;
    background-color: #e5e5e5;
    color: #302e2f;
    right: 148px;
    bottom: 13px;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.detail-info__img {
    display: inline;
}

.detail-info__img--1 {
    width: 192px;
    position: absolute;
    top: -151px;
    left: 37px;
}

.detail-info__img--2 {
    width: 351px;
    position: absolute;
    top: -146px;
    left: 278px;
}

/*progect-info-2*/

.progect-info__div--2 {
    height: 416px;
}

.progect-info__img {
    padding-right: 66px;
    margin-left: 425px;
    background-color: var(--white-color);
}

/*footer*/

footer {
    height: 1082px;
    background: url(../img/footer.jpg);
    box-shadow: inset 0 0 0 2000px rgba(24, 25, 27, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
    color: var(--white-color);
    font-family: 'Oswald', sans-serif;
}

.swiper-slide--h3 {
    font-size: 60px;
    line-height: 85px;
    letter-spacing: 3px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    margin-top: 62px;
}

.swiper-slide--svg {
    position: absolute;
    top: 10px;
    right: 50px;
}

.swiper-slide--container-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 29px;
    padding-left: 67px;
}

.swiper-slide--service {
    position: relative;
    box-sizing: border-box;
    color: var(--white-color);
}

/*fieldset*/

fieldset {
    width: 715px;
    height: 80px;
    border: 2px solid var(--white-color);
    border-bottom: none;
    color: white;
    margin-bottom: 40px;
}

fieldset+fieldset {
    margin-top: -50px;
    transform: rotatex(180deg);
}

legend::after {
    content: "\25BD";
    font-size: 25px;
    color: var(--white-color);
    margin: 0 5px;
}

.swiper__fieldset--1, .swiper__fieldset--1+fieldset, .swiper__fieldset--3, .swiper__fieldset--3+fieldset, .swiper__fieldset--4, .swiper__fieldset--4+fieldset {
    width: 315px;
    margin-right: 40px;
}

.swiper__fieldset--5, .swiper__fieldset--5+fieldset {
    width: 329px;
    height: 130px;
}

.swiper__fieldset--6 {
    margin-top: -110px;
}

.swiper__fieldset--6>.swiper-slide--svg {
    top: -95px;
    right: 17px;
}

.swiper-slide--symbol {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.swiper-slide--p {
    font-size: 30px;
    white-space: normal;
    text-align: left;
}

.swiper-slide--btn {
    max-width: 133px;
    max-height: 26px;
    padding: 18px 120px 27px 74px;
    margin-left: 55px;
    margin-top: -12px;
    background-color: var(--white-color);
    color: #0a0a0a;
    font-size: 27px;
    letter-spacing: 1px;
}

div.swiper-button-prev, div.swiper-button-next {
    width: 71px;
    height: 71px;
    border: 4px solid var(--white-color);
    border-radius: 39px;
}

div.swiper-button-prev {
    margin-left: 147px;
    margin-top: 6px;
}

div.swiper-button-next {
    margin-top: 5px;
}

div.swiper-button-prev::after, div.swiper-button-next::after {
    color: var(--white-color);
}

div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 75px;
    max-width: 1150px;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    width: 100%;
    height: 4px;
    border-radius: 0;
    color: var(--white-color);
}

div.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--white-color);
    outline: none;
}

.swiper-div-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 26px;
}

.swiper-text {
    transform: translateX(5px);
}

@media (max-width: 1720px) {
    .detail-info {
        flex-direction: column;
    }
    .detail-info__h2 {
        margin-top: 35px;
    }
    .detail-info__right-part {
        width: auto;
        margin-left: 425px;
    }
    .delail-info--margin {
        margin-bottom: 0;
    }
    .detail-info__right-part__h3 {
        margin-left: 0;
    }
    .detail-info__left-part__h3 {
        margin-top: 45px;
    }
    .detail-info__right-part--margin {
        margin-left: 0px;
    }
    .swiper-slide, .swiper__fieldset--6 {
        margin-top: 0;
    }
    .swiper-slide--container-div {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .swiper-slide--service {
        height: 100px;
    }
    .swiper__fieldset--5, .swiper__fieldset--5+fieldset {
        height: 35px;
    }
    .swiper__fieldset--1, .swiper__fieldset--1+fieldset, .swiper__fieldset--3, .swiper__fieldset--3+fieldset, .swiper__fieldset--4, .swiper__fieldset--4+fieldset {
        width: 300px;
        margin-right: 0;
    }
    .swiper__fieldset--2, .swiper__fieldset--2+fieldset, .swiper__fieldset--5, .swiper__fieldset--5+fieldset, .swiper__fieldset--6, .swiper__fieldset--6+fieldset {
        width: 300px;
    }
    .swiper-slide--svg, .swiper__fieldset--6>.swiper-slide--svg {
        top: -1px;
        right: 9px;
        width: 20px;
    }
    .swiper-slide--p {
        font-size: 16px;
        margin: 0;
    }
    fieldset {
        height: 35px;
    }
}

@media (max-width: 1500px) and (min-width: 768px) {
    .header__left-part {
        margin-right: 50px;
    }
    .header__left-part--rectangle {
        min-width: 225px;
    }
    .header__left-part--pattern {
        width: 150px;
    }
    .header__right-part {
        margin-bottom: 0;
    }
    h2, h2.header__right-part--h2, .header__div--advantages-h2, h2.detail-info__h2 {
        font-size: 50px;
    }
    .header__div--wrapper-advantages {
        flex-direction: column;
    }
    .header__div--advantages-h2 {
        margin-top: 0;
    }
    .detail-info__div-rectangle {
        height: 300px;
    }
    .detail-info__h2 {
        margin-bottom: 0;
    }
    h1 {
        font-size: 180px;
    }
    .detail-info__img--1, .detail-info__img--2 {
        top: -10px;
    }
    .progect-info-1__h1, .progect-info__img {
        margin-left: 100px;
    }
    .progect-info__img {
        width: 250px;
    }
    .progect-info__h3, .swiper-slide--h3 {
        font-size: 40px;
    }
    .delail-info--margin, .detail-info__right-part {
        margin-left: 100px;
    }
    .swiper-slide--container-div {
        padding-left: 0;
    }
    div.swiper-button-prev {
        margin-left: 50px;
    }
    div.swiper-button-next {
        margin-right: 50px;
    }
    .swiper-slide--service, .swiper-slide--service:nth-child(5), .swiper-slide--service:nth-child(6) {
        max-width: 300px;
        width: 300px;
        margin-right: 0;
        padding-right: 0;
    }
    .swiper-slide--p {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
    .swiper-slide--btn {
        margin-left: 38px;
        margin-top: 38px;
    }
    .swiper-slide--svg {
        display: none;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    header {
        padding: 20px 5px 5px;
    }
    .header__right-part--p, .header__right-part--a-p, .header__div--advantages-p, .progect-info__p, .swiper-slide--p {
        font-size: 16px;
    }
    .header__right-part--a-p {
        white-space: normal;
        line-height: 27px;
    }
    .header__div--advantages-h2, .progect-info__h3, .swiper-slide--h3 {
        font-size: 20px;
        line-height: 20px;
    }
    h2, h2.header__right-part--h2, .header__div--advantages-h2, h2.detail-info__h2, .detail-info__right-part__h3 {
        font-size: 30px;
    }
    .header__right-part--h2 {
        text-align: center;
        margin-bottom: 0;
    }
    .header__left-part {
        display: none;
    }
    .header__div--wrapper-advantages {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .header__div--advantages-p, .header__right-part, .progect-info__h3 {
        margin: 0;
    }
    .header__div--advantages-h2, .detail-info__right-part__h3 {
        margin-top: 0;
    }
    .progect-info__div {
        height: 300px;
    }
    h1 {
        font-size: 70px;
    }
    .delail-info--margin {
        display: none;
    }
    .detail-info__div-rectangle {
        margin: 20px 0;
    }
    .detail-info__img--1, .detail-info__img--2 {
        width: auto;
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 20px;
    }
    .detail-info__a-letter {
        bottom: -200px;
        right: auto;
    }
    .detail-info__a-write-to {
        margin: 40px 0 20px 0;
        padding: 10px 20px 10px 0px;
    }
    .detail-info--pattern {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .progect-info__img, .progect-info-1__h1, .detail-info__right-part {
        margin-left: 15px;
    }
    .progect-info-1-wrapper {
        background-color: transparent;
    }
    .progect-info__p {
        line-height: 18px;
    }
    .progect-info__img {
        width: 100px;
        padding-right: 55px;
    }
    .swiper-slide--svg {
        display: none;
    }
    .swiper-slide--service, .swiper-slide--service:nth-child(5), .swiper-slide--service:nth-child(6), .swiper-slide--service:nth-child(2) {
        width: 280px;
        max-width: 280px;
        margin-right: 0;
        padding-right: 0;
    }
    .swiper-slide.swiper-slide-duplicate.swiper-slide-prev {
        margin-left: -30px;
    }
    .swiper-slide--p {
        line-height: 20px;
        text-align: center;
    }
    .swiper-slide--container-div {
        padding-left: 0;
    }
    div.swiper-button-prev, div.swiper-button-next {
        border: none;
        top: 350px;
    }
    div.swiper-button-prev {
        margin-left: -30px;
    }
    div.swiper-button-next {
        margin-right: -30px;
    }
    div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        flex-direction: column;
        max-width: 300px;
        margin-top: -175px;
    }
}